body{

    height: 100vh !important;

    background-image: url(../Media/undefined\ -\ Imgur.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#homeTitle{
    border: 10px solid whitesmoke;
    width: 500px;
    color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: 100px;

    position: absolute;
    top: 30%;
    left: 30%;
    
    text-align: center;
    align-content: center;
}

.navbar{
    position:fixed !important;
    top: 0;
    width: 100%;
}

.backBtn{
    position: fixed;
    top: 5px;
    left: 10px;
}

.homeCards{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#carousel1, #carousel2, #carousel3{
    width: 9;
    height: 16;
    height: auto;
    align-content: center;
    position: relative;
    margin-top: 10%;
    margin-bottom: 5%;
}

.carousel-control-prev, 
.carousel-control-next{
    filter: invert(1);
    /* background-image: none;
    color: black;
    background-color: black; */
}

#carousel1 > .carousel-inner > .carousel-item > img{
    height: 900px;
    width: 1600rem;
    /* width 16%; */
}

.carContainer{
    width: 1600px;
    padding-bottom: 1%;

}